{% extends "home/index.html" %}
{% load static %}
{% block facus-blog_content %}


{% if user.is_authenticated %}
<div class="text-center">
    <h2>Bienvenido {{ user.first_name }}</h2>
    <img height="160px" src="{{url}}" alt="">
</div>
{% endif %}

<!-- 
<h2>Buscador de actividades</h2>
<hr>
</hr>

<form action="/search" method="GET">
    <div>
        <input type="text" name="search_param" id="course_code_or_name" placeholder="Buscar..."
        {% if search_param %} value="{{ search_param }}" {% endif %}
        >
        <input type="submit" value="Buscar">
        <a style="color: rgb(255, 255, 255)" href="{% url 'home:main' %}"><i class="fa fa-undo"></i></a>
    </div>

</form>

<hr>
</hr>


{% if courses %}
<ul>
    {% for course in courses %}
    <li>
        {{course.name}}
    </li>
    {% endfor %}
</ul>
{% endif %}
 -->
<hr></hr>
<h2>Una práctica de transformación</h2>
<p></p>
<p>El SECI es una Escuela para la Vida, creada por Anni Schuff. Es un innovador sistema integral de trabajo personal para transformar nuestra vida, crear nuevas posibilidades en nuestros entornos y ser agentes de cambio en nuestra sociedad. </p>
<br>
<h3>SECI ofrece un método para transitar procesos que permiten crear nuevas realidades y experiencias</h3>
<br>

<div class="block"><h6><strong>¿Qué significa SECI?</strong></h6><p class="fieldset">Sistema de Entrenamiento Continuo Integral</p></div>
<br>
<div class="block"><h6><strong>Misión</strong></h6><p class="fieldset">El objetivo del SECI es acompañar a personas, familias y equipos de trabajo para alcanzar mayores niveles de bienestar, mejorar sus relaciones, concretar sus proyectos y participar responsablemente en las comunidades a las que pertenecen.</p>
<br>
<div class="block"><h6><strong>¿Cómo lo hace?</strong></h6><p class="fieldset">A través de actividades que incorporan distintas herramientas para la ampliación de la conciencia y el trabajo práctico en la vida cotidiana. Se trata de un proceso evolutivo continuo, desde el contacto interno con lo esencial de cada persona.</p>




{% endblock %}