{% extends "home/index.html" %}
{% load static %}
{% block facus-blog_content %}

<h2>Formulario para editar usuarios</h2>
<hr></hr>
<h3>Usuario: {{user.first_name}}</h3>


<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <h5><a style="color: rgb(255, 255, 255)" href="{% url 'user:avatar-load' %}">Cambiar Avatar</a></h5>
    <hr></hr>
    <input type="submit" class="btn btn-primary" value="Guardar Usuario" />
    <a class="btn btn-primary" href="{% url 'home:main' %}">Volver</a>
</form>

{% endblock %}